#story {
  background-color: #262626;
  padding-top: 65px;
}

.story-text {
  letter-spacing: 14.4px;
  text-align: center;
}

.white-bar {
  margin-top: 15px;
  border: 5px solid #ffffff;
  width: 120px;
}

.story-content {
  margin: 100px 0px 200px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.story-p {
  margin-top: 40px;
  line-height: 36px;
}

#chair-img {
  width: 400px;
}

#jobs-img {
  width: 400px;
}

.pwd-billion {
  margin-top: 15px;
}

#chartdiv{
  z-index: 99;
  width: 200%;
  height: 500px;
}

.story-head{
  color: #FFBD41;
  margin-top: 30px;
}

