#theirvoice {
  padding: 160px 0px 240px 0px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.shadow {
  text-shadow: 0px 3px 6px #0000004d;
}

.p-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid #707070;
  border-radius: 50%;
  margin-right: 25px;
}

.voice-box {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 30px #0000006b;
  padding: 50px 30px;
}

.voice-bar {
  border: 1px solid #f6be5a;
}

.voice-p {
  word-break: break-all;
  width: 220px;
  margin-bottom: 55px;
}

.voice-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

#voice-box-section {
  margin-top: 75px;
  justify-content: space-between;
}
